* {
  box-sizing: border-box;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.sumir{
  opacity: 0;
  transition: 1s ease;
}

.aparecer {
  opacity: 1;
  transition: 1s ease;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "content1"
    "content2"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  height: auto;
  width: 98.5vw;
}

.header {
  grid-area: header;

  text-align: center;
  font-size: 24px;
  color: white;

  font-size: 16px;

  transition: 1.2s ease;
  opacity: 1;
}

.container-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 100%;
  height: auto;
}

/* Menu principal*/

.menu-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: black;
}

.menu-principal ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;

  color: white;

  padding: 5px 0 5px 0;
}

.caixa-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
}

.caixa-input-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50px;
}

.caixa-input-pesquisa input {
  width: 100%;
  height: 40px;

  border-radius: 10px;

  border: 1px solid lightblue;
}

.container-usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 10px;
}

.caixa-entrar-cadastrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.caixa-usuario {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
}

.caixa-usuario img {
  width: 50%;
  height: auto;

  object-fit: cover;
}

.caixa-carrinho {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  margin-right: 5px;
}

.caixa-carrinho img {
  width: 50%;
  height: auto;

  object-fit: cover;
}

/* Fim menu principal*/

/* Menu atalhos*/
.menu-atalhos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5vh; /* Usando 100% da altura da tela para centralizar verticalmente */

  gap: 10px;

  color: black;
}

.menu-atalhos ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 10px;

  color: black;
}

/* Fim Menu atalhos*/

/* Conteudo*/

/* inicio content*/

.content {
  grid-area: content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 400px;
  width: 100%;
  max-width: 100%;

  background-image: url("../src/assets/bg/apresentacao-3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-top: 10px;

  opacity: 1;
  transition: 0.6s ease;
}

.container-apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 5px;
}

.container-apresentacao img {
  width: 150px;
  height: 250px;
  object-fit: cover;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.caixas-apresentacao-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  width: 150px;
  height: 250px;

  margin-bottom: 20vh;

  filter: grayscale(75%);
  transition: filter 0.3s ease;
}

.caixas-apresentacao-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 250px;

  filter: grayscale(75%);
  transition: filter 0.3s ease;
}

.caixas-apresentacao-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 250px;

  margin-top: 20vh;

  filter: grayscale(75%);
  transition: filter 0.3s ease;
}

.caixas-apresentacao-1:hover {
  filter: grayscale(0%);
  transform: scale(1.3);

  z-index: 1;

  cursor: pointer;
}

.caixas-apresentacao-2:hover {
  filter: grayscale(0%);
  transform: scale(1.3);

  z-index: 1;

  cursor: pointer;
}

.caixas-apresentacao-3:hover {
  filter: grayscale(0%);
  transform: scale(1.3);

  z-index: 1;

  cursor: pointer;
}

.container-texto {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  height: 100%;

  font-size: 36px;
  font-weight: 400;

  color: white;

  gap: 10px;
}

.palavra-sem-efeito {
  opacity: 0;
}

.palavra-com-efeito {
  opacity: 0;
  animation: fade 1s forwards;
}

.palavra-com-efeito:nth-child(1) {
  animation-delay: 0s;
}

.palavra-com-efeito:nth-child(2) {
  animation-delay: 0.3s;
}

.palavra-com-efeito:nth-child(3) {
  animation-delay: 0.6s;
}

.palavra-com-efeito:nth-child(4) {
  animation-delay: 0.9s;
}

.palavra-com-efeito:nth-child(5) {
  animation-delay: 1.2s;
}

.palavra-com-efeito:nth-child(6) {
  animation-delay: 1.5s;
}

.palavra-com-efeito:nth-child(7) {
  animation-delay: 1.8s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fim content*/

/* inicio content 1*/

.content1 {
  grid-area: content1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 300px;

  font-size: 26px;
}

/* Fim content 1*/

/* inicio content 2*/

.content2 {
  grid-area: content2;

  height: auto;

  display: grid;
  grid-template-areas:
    "cx1 cx2"
    "cx1 cx3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.cx1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  grid-area: cx1;
  background-color: lightblue;

  height: 500px;
  width: 100%;

  filter: grayscale(75%);
  transition: filter 0.3s ease;

  position: relative;
  
}

.cx1:hover{
  filter: grayscale(0%);
}

.cx1 input{
  width: 200px;
  height: 40px;
  border-radius: 5px;


  outline: none;

  background-color: #1a1b1c;
  color: white;
  font-size: 16px;

  margin-bottom: 10%;

  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  
}



.caixa-img-produto-home {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 500px;
  width: 100%;

  background-image: url("../src/assets/destaques/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.cx2 {
  display: flex;
  justify-content: start;
  align-items: center;

  grid-area: cx2;
  background-color: lightgoldenrodyellow;

  height: 250px;
  width: 100%;

  filter: grayscale(75%);
  transition: filter 0.3s ease;

  position: relative;
}

.cx2:hover{
  filter: grayscale(0%);
}

.cx2 input{
  width: 200px;
  height: 40px;
  border-radius: 5px;


  outline: none;

  background-color: #1a1b1c;
  color: white;

  margin-bottom: 10%;

  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  
}

.caixa-img-produto-home-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  background-image: url("../src/assets/destaques/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  
}


.cx3 {
  display: flex;
  justify-content: start;
  align-items: center;

  grid-area: cx3;
  background-color: lightpink;

  height: 250px;

  filter: grayscale(75%);
  transition: filter 0.3s ease;
  position: relative;
}

.cx3:hover{
  filter: grayscale(0%);
}

.cx3 input{
  width: 200px;
  height: 40px;
  border-radius: 5px;


  outline: none;

  background-color: #1a1b1c;
  color: white;

  margin-bottom: 10%;

  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  
}

.caixa-img-produto-home-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  background-image: url("../src/assets/destaques/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}








.dados-produtos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  text-align: center;

  padding: 10px;

  gap: 20px;
}

/* Fim content 2*/

/*inicio footer*/

.footer {
  grid-area: footer;

  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: white;
}

/* Fim Conteudo*/
