/* Menu principal*/

a{
  text-decoration: none;
  
}
.container-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    width: 100%;
    height: auto;

    
  }
  
  .menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
  
    background-color: #29251c;
  }
  
  .menu-principal ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    height: auto;
  
    color: white;
  
    padding: 5px 0 5px 0;
  }
  
  .caixa-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 300px;
    height: 50px;
  }
  
  .caixa-input-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50%;
    height: 50px;
  }
  
  .caixa-input-pesquisa input {
    width: 100%;
    height: 40px;
  
    border-radius: 10px;
  
    border: 1px solid lightblue;
  }
  
  .container-usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    width: 100%;
  
    gap: 10px;
  }
  
  .caixa-entrar-cadastrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
  }
  
  .caixa-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50px;
    height: 50px;
  }
  
  .caixa-usuario img {
    width: 50%;
    height: auto;
  
    object-fit: cover;
  }
  
  .caixa-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50px;
    height: 50px;
  
    margin-right: 5px;
  }
  
  .caixa-carrinho img {
    width: 50%;
    height: auto;
  
    object-fit: cover;
  }
  
  /* Fim menu principal*/

  /* Menu atalhos*/
.menu-atalhos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 5vh; /* Usando 100% da altura da tela para centralizar verticalmente */

  

  color: white;
  font-size: 20px;
  font-weight: 700;

  padding: 25px;
}

.menu-atalhos ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 50px;

  
}

.menu-atalhos ul a{
  color: white;
  font-weight: 400;
}


/* Fim Menu atalhos*/